<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{themeRootPath}}/stylesheets/theme.css">
  <title>{{title}}{{#if site.title}} // {{site.title}}{{/if}}</title>
  <link rel="shortcut icon" href="{{themeRootPath}}/images/favicon.ico"/>
{{> head }}
</head>
<body class="status-404">
{{> header }}
  <div class="main__wrapper">
    <main role="main" class="main">
      <article class="doc">
        {{#if site.swiftypeKey}}
        <form id="st-open">
          <input type="hidden" class="st-default-search-input">
          <input type="image" class="st-open-img" src="{{themeRootPath}}/images/404.png" width="1013" height="626" alt="404" title="Click to search the docs">
        </form>
        {{else}}
        <img src="{{themeRootPath}}/images/404.png" width="1013" height="626" alt="404">
        {{/if}}
      </article>
    </main>
  </div>
{{> footer }}
</body>
</html>
