<div class="breadcrumbs">
  {{#if domain.title}}
  {{#unless (or domain.root (eq domain.title breadcrumbs.0.title))}}
  <span class="crumb__wrapper"><a class="crumb" href="{{{domain.url}}}">{{{domain.title}}}</a></span>
  {{#if breadcrumbs.length}}
  <span class="crumb-sep">/</span>
  {{/if}}
  {{/unless}}
  {{/if}}
  {{#each breadcrumbs}}
  {{#if ./url}}
  <span class="crumb__wrapper"><a class="crumb" href="{{{./url}}}">{{{./title}}}</a></span>
  {{else}}
  <span class="crumb__wrapper"><span class="crumb">{{{./title}}}</span></span>
  {{/if}}
  {{#unless @last}}
  <span class="crumb-sep">/</span>
  {{/unless}}
  {{/each}}
</div>
